bin
obj
~$*
*.userprefs
*~
packages
.vs
# User-specific files
*.user

# API Docs
docfx/api

# Never push ./docs folder - the gh-pages branch is now used to publish to GH Pages
docs/

UnitTests/TestResults

#git merge files
*.orig

.vscode/

demo.*

*.deb
