bin
obj
~$*
*.userprefs
*~
packages
.vs

# User-specific files
*.user

# API Docs
docfx/api
docfx/_site

# Unit Tests
UnitTests/TestResults
TestResults

#git merge files
*.orig

.vscode/

demo.*

*.deb

*.tui/
/Terminal.Gui/View/Layout/ViewLayout.cs
/Terminal.Gui/View/Frame.cs
/Terminal.Gui/View/ViewDrawing.cs
/UICatalog/Properties/launchSettings.json
/UICatalog/Scenarios/Frames.cs
