# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.cs text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
