<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <config>
    <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
  </config>
  <packageSources>

    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="LocalPackages" value="./local_packages" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="LocalPackages">
      <package pattern="Terminal.Gui*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
