:root, [data-bs-theme=light] {
    --bs-font-monospace: 'Cascadia Code', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-font-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-weight: 300;
    --bs-body-font-weight: 0.9rem;

    --bs-body-color: #dee2e6;
    --bs-body-bg: #152332;

    --bs-navbar-brand-font-size: 1.5em;
}


.toc, .navbar-brand, .nav-link {
    font-family: var(--bs-font-monospace)
}

.toc {
    font-size: 13em;
}

.toc li {
    font-weight: 300;
    margin: .2em 0;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 200;
} 

.toc form.filter>i.bi {
    font-size: var(--bs-body-font-size);
}

.toc .flex-fill {
    font-size: var(--bs-body-font-size);
}

.inheritedMembers { display: none; }