{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
    {{>partials/head}}

    <body>
        <div class="top-navbar">
            <a class="burger-icon" onclick="toggleMenu()">
                <svg name="Hamburger" 
                    style="vertical-align: middle;"
                    width="34" height="34" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M20 6H4V9H20V6ZM4 10.999H20V13.999H4V10.999ZM4 15.999H20V18.999H4V15.999Z"></path></svg>
            </a>

            {{>partials/logo}}
        </div>

        <div class="body-content">
            <div id="blackout" class="blackout" onclick="toggleMenu()"></div>

            <nav id="sidebar" role="navigation">
                <div class="sidebar">
                    {{>partials/navbar}}
                    <div class="sidebar-item-separator"></div>
                    {{^_disableToc}}
                        {{>partials/toc}}
                    {{/_disableToc}}
                </div>
                {{>partials/footer}}
            </nav>

            <main class="main-panel">
                {{#_enableSearch}}
                {{>partials/searchResults}}
                {{/_enableSearch}}

 

                <div role="main" class="hide-when-search" >
                    {{^_disableBreadcrumb}}
                        {{>partials/breadcrumb}}
                    {{/_disableBreadcrumb}}

                   {{^_disableContribution}}
                         <div id="contribution">
                             {{#docurl}}
                               <a href="{{docurl}}" class="contribution-link">{{__global.improveThisDoc}}</a>
                             {{/docurl}}
                         </div>
                    {{/_disableContribution}}

                    <article class="content wrap" id="_content" data-uid="{{uid}}">
                      {{!body}}
                    </article>
                </div>

                {{#_copyrightFooter}}
                <div class="copyright-footer">
                    <span>{{_copyrightFooter}}</span>
                </div>
                {{/_copyrightFooter}}
            </main>
        </div>

        {{>partials/scripts}}
    </body>
</html>
